# Actividad - Trabajando con Series de Pandas.

## Criterios de evaluación.

- Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
- Comentarios claros y concisos que expliquen el propósito de cada sección del código.
- Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).
- Entrega en tiempo y forma.
- Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
- Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!

**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:**

Crear Series desde diferentes estructuras.

- Crea una Series con los números del 1 al 5
- Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [4]:
import pandas as pd

serie_numeros = pd.Series([1, 2, 3, 4, 5])
paises = {'Argentina': 'Buenos Aires', 'Paraguay': 'Asuncion', 'Chile': 'Santiago', 'Uruguay': 'Montevideo'}
serie_paises = pd.Series(paises)

serie_numeros, serie_paises

(0    1
 1    2
 2    3
 3    4
 4    5
 dtype: int64,
 Argentina    Buenos Aires
 Paraguay         Asuncion
 Chile            Santiago
 Uruguay        Montevideo
 dtype: object)

### **Actividad 2:**

Acceso y selección de elementos.

- Usa una Series con tareas (que haceres cotidianos) de una semana
- Accede a diferentes elementos a elección.
- Cambia los valores de los dias pares.

In [ ]:
tareas = pd.Series(['Estudiar', 'Trabajar', 'Ejercicio', 'Cocinar', 'Compras', 'Descansar', 'Limpiar'], index=['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'])
print(tareas)

print(tareas['Lunes'])
print(tareas[['Miércoles', 'Viernes']])

tareas['Martes'] = 'Leer'
tareas['Jueves'] = 'Cine'
tareas['Sábado'] = 'Pasear'
print(tareas)

Lunes         Estudiar
Martes        Trabajar
Miércoles    Ejercicio
Jueves         Cocinar
Viernes        Compras
Sábado       Descansar
Domingo        Limpiar
dtype: object
Estudiar
Miércoles    Ejercicio
Viernes        Compras
dtype: object
Lunes         Estudiar
Martes            Leer
Miércoles    Ejercicio
Jueves            Cine
Viernes        Compras
Sábado          Pasear
Domingo        Limpiar
dtype: object

### **Actividad 3:**

Operaciones aritméticas.

- Realiza las operaciones basicas con 2 series cuales quieran.
- Eleva los valores de la primer serie a 3 potencias difetentes.

In [6]:
serie1 = pd.Series([10, 20, 30, 40, 50])
serie2 = pd.Series([5, 10, 15, 20, 25])

operaciones = {
    'Suma': serie1 + serie2,
    'Resta': serie1 - serie2,
    'Multiplicación': serie1 * serie2,
    'División': serie1 / serie2
}

for nombre, resultado in operaciones.items():
    print(f"{nombre}:\n{resultado}\n")

Suma:
0    15
1    30
2    45
3    60
4    75
dtype: int64

Resta:
0     5
1    10
2    15
3    20
4    25
dtype: int64

Multiplicación:
0      50
1     200
2     450
3     800
4    1250
dtype: int64

División:
0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
dtype: float64

In [7]:
potencias = {
    'Potencia 2': serie1 ** 2,
    'Potencia 3': serie1 ** 3,
    'Raíz cuadrada': serie1 ** 0.5
}

for nombre, resultado in potencias.items():
    print(f"{nombre}:\n{resultado}\n")

Potencia 2:
0     100
1     400
2     900
3    1600
4    2500
dtype: int64

Potencia 3:
0      1000
1      8000
2     27000
3     64000
4    125000
dtype: int64

Raíz cuadrada:
0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

### **Actividad 4:**

Filtrado con condiciones.

- Crea una Series de edades de 10 personas.
- Muestra solo a los mayores de 18.
- Reemplaza a los menores por "Menor de edad".

In [ ]:
nombres = ['Ana', 'Carlos', 'Juan', 'María', 'Pedro', 'Laura', 'Sofía', 'Luis', 'Elena', 'Miguel']
edades = pd.Series([25, 17, 30, 16, 22, 19, 15, 28, 24, 17], index=nombres)

print("Edades originales:")
print(edades)

print("\nMayores de 18:")
print(edades[edades > 18])

edades_clasificadas = edades.copy()
edades_clasificadas[edades_clasificadas < 18] = "Menor de edad"

print("\nEdades: ")
print(edades_clasificadas)

Edades originales:
Ana       25
Carlos    17
Juan      30
María     16
Pedro     22
Laura     19
Sofía     15
Luis      28
Elena     24
Miguel    17
dtype: int64

Mayores de 18:
Ana      25
Juan     30
Pedro    22
Laura    19
Luis     28
Elena    24
dtype: int64

Edades clasificadas:
Ana                  25
Carlos    Menor de edad
Juan                 30
María     Menor de edad
Pedro                22
Laura                19
Sofía     Menor de edad
Luis                 28
Elena                24
Miguel    Menor de edad
dtype: object

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_12984\2013435984.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Menor de edad' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  edades_clasificadas[edades_clasificadas < 18] = "Menor de edad"

### Actividad 5:

Estadísticas básicas.

- Crea una Series con las notas de 10 estudiantes.
- Calcula la media, mediana, desviación estándar y máximo.
- Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
- Ordenar las notas de manera ascendente y descendente.

In [9]:
estudiantes = ['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10']
notas = pd.Series([7.5, 5.2, 9.0, 6.8, 4.3, 8.1, 3.5, 7.7, 6.4, 5.9], index=estudiantes)

print(f"Notas de estudiantes:\n{notas}\n")
estadisticas = {
    'Media': notas.mean(),
    'Mediana': notas.median(),
    'Desviación estándar': notas.std(),
    'Máximo': notas.max(),
    'Aprobados': sum(notas >= 6)
}

for nombre, valor in estadisticas.items():
    print(f"{nombre}: {valor}")

print("\nOrdenadas ascendente:\n", notas.sort_values())
print("\nOrdenadas descendente:\n", notas.sort_values(ascending=False))

Notas de estudiantes:
E1     7.5
E2     5.2
E3     9.0
E4     6.8
E5     4.3
E6     8.1
E7     3.5
E8     7.7
E9     6.4
E10    5.9
dtype: float64

Media: 6.4399999999999995
Mediana: 6.6
Desviación estándar: 1.7385817975196527
Máximo: 9.0
Aprobados: 6

Ordenadas ascendente:
 E7     3.5
E5     4.3
E2     5.2
E10    5.9
E9     6.4
E4     6.8
E1     7.5
E8     7.7
E6     8.1
E3     9.0
dtype: float64

Ordenadas descendente:
 E3     9.0
E6     8.1
E8     7.7
E1     7.5
E4     6.8
E9     6.4
E10    5.9
E2     5.2
E5     4.3
E7     3.5
dtype: float64